/* Universal settings */
html, body, a, article, aside, audio, 
blockquote, caption, dd, div, dl, dt, 
embed, fieldset, figcaption, figure, 
footer, form, h1, h2, h3, h4, h5, h6, 
header, iframe, img, label, legend, li, 
nav, ol, p, section, strong, table, ul, 
video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html, body {
	overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    line-height: 1.5em;
	min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ol, ul {
	list-style: none;
}

button {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

/* Loading Screen (universal) */
.loading-screen {
	display: block;
	border: 14px solid #f3f3f3;
	border-radius: 50%;
	border-top: 14px solid gray;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
	position: fixed;
	left: 45%;
	top: 40%;
    transform: translate(-50%, -50%);
	z-index: 0;
}

@-webkit-keyframes spin { /* Safari */
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ------------------------------------------------ */
/*				   HOME SECTION						*/
/* ------------------------------------------------ */

/* Home Section - Welcome Cover Page Overlay */
#welcome-page {
	display: none;
	background-image: linear-gradient(to top, 
	rgba(207,217,223,0.9), rgba(226,235,240,0.9));
	color: #222222;
	position: fixed;
	z-index: 9;
	font-size: 18px;
	height: 100%;
	min-width: 100vw;
	overflow-x: hidden;
	transition: height ease 0.5s;
}

#welcome-page h1 {
	font-family: 'Poiret One', cursive;
	font-size: 4em;
	margin-left: 10vw;
	margin-top: 15vh;
	line-height: 1em;
	transition: margin-top ease 0.7s;
}

#welcome-page p {
	max-width: 40em;
	margin-left: 10vw;
	margin-top: 7vh;
	line-height: 1.7em;	
}

#welcome-page-start {
	height: 3em;
	width: 12em;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgba(115,24,44,1);
	transition: all ease 0.5s;
	color: white;
	border: none;
	margin-left: 10vw;
	margin-top: 9vh;
}

#welcome-page-start span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
  
#welcome-page-start span:after {
	content: '\276F';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: all ease 0.5s;
}

#welcome-page-start:hover span {
	padding-right: 25px;
}

#welcome-page-start:hover span:after {
	opacity: 1;
	right: 0;
}

.transition-slide-in {
	transition: right ease 1s, left ease 1s;
	transition-delay: 0.3s;
}	

#welcome-back {
	position: fixed;
	background-color: rgba(50, 50, 50, 0.95);
	color: white;
	border-radius: 5px;
	padding: 1em 2em;
	left: 50%;
	transform: translate(-50%, 0);
	top: -20vh;
	transition: top ease 1s;
}

/* Home Section - Icon Overlay (top-left) */
#menu-icon, #help-icon {
	opacity: 0.7;
	width: 50px;
	position: fixed;
	left: -10vw;	
	z-index: 8;
	transition: left ease 1s, opacity ease 0.3s;
}

#menu-icon:hover, #help-icon:hover {
	opacity: 1;
}

#menu-icon {
	top: 25px;
}

#help-icon {
	font-size: 3em;
	bottom: 35px;
}

.menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	background-color: rgba(10,10,10,1);
	overflow-x: hidden;
	transition: all ease 0.5s;
	display: flex;
	flex-flow: column nowrap;
	white-space: nowrap;
	justify-content: space-between;
}

#side-menu {
	color: rgba(150,150,150,1);
}

#side-menu-button a {
	display: block;
	padding: 1em 1em 0.5em 30px;
	font-size: 3em;
	line-height: 0.1em;
}

#side-menu-content {
	position: absolute;
	margin-left: 2em;
	margin-top: 5.5em;
	top: 0;
	max-height: 80%;
}

#side-menu-profile {
	margin-bottom: 1.5em;
}

#side-menu-profile h3 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}

#side-menu-profile-user {
	display: flex;
	align-items: center;
	padding: 0.5em 2em 0.5em 0.5em;
	background-color: rgba(30,30,30,1);
	border-radius: 3px;
	width: 85%;
}

#side-menu-profile-user > img {
	width: 45px;
	margin-right: 0.5em;
}

#side-menu-profile-user section {
	line-height: 1.2em;
}

#side-menu-profile-user section p:first-child {
	font-size: 1em;
}

#side-menu-profile-user section p:last-child {
	font-size: 0.8em;
}

#side-menu-trophy h4, #side-menu-setting h4 {
	font-size: 1.1em;
}

#side-menu-trophy-items {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 1.5em;
	max-height: 220px;
	overflow: hidden;
}

#side-menu-trophy-items section {
	display: flex;
}

#side-menu-trophy-items div {
	width: 100px;
	height: 100px;
	background-color: rgba(30,30,30,1);
	border-radius: 3px;
	margin: 10px 10px 0 0;
}

#side-menu-trophy-items img {
	width: 100px;
	height: 100px;
	filter: invert(30%);
	border-radius: 3px;
}

#side-menu-setting {
	margin-bottom: 2em;
}

#side-menu-setting h4 {
	margin-bottom: 0.4em;
}

#side-menu-setting-items {
	display: flex;
	flex-flow: column nowrap;
}

#side-menu-setting-items a {
	font-size: 0.9em;
	margin-top: 0.1em;
}

#side-menu-legal {
	bottom: 0;
	color: rgba(60,60,60,1);
	font-size: 0.7em;
	line-height: 1.4em;
	margin: 1em 0 1em 3em;
}

.menu a {
	color: rgba(150,150,150,1);
	transition: 0.3s;
}

.menu a:hover {
	color: rgba(240,240,240,1);
}

/* Home Section - Timeline Overlay (left side) */
#timeline {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	left: -500px;
	top: 20%;
	position: fixed;
	transition: "left" ease 1s;
	transition-delay: 0.3s;
}

#timeline::after {
	content: " ";
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 8px dotted rgba(255,255,255,0.7);
	animation: ring-effect 200s linear infinite;
}

.timeline-button div {
	font-family: 'Play', sans-serif;
	position: absolute;
	border-radius: 50%;
	shape-outside: circle();
	-webkit-shape-outside: circle();
	color: white;
	border: none;
	
	z-index: 8;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.timeline-button-inactive {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 1.1em;
	background-color: rgba(42,91,102,1);
	box-shadow: 0px 0px 18px 2px rgba(42,91,102,0.75);
	transition: background-color ease 0.3s;
	cursor: pointer;
	
}

.timeline-button-inactive:hover {
	background-color: rgba(35,74,83,1);
}

.timeline-button-active {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 1.7em;
	background-color: rgba(115,24,44,1);
	box-shadow: 0px 0px 18px 2px rgba(115,24,44,0.75);
	transition: background-color ease 0.3s;
	cursor: move;
}

.timeline-button-active:hover {
	background-color: rgba(97,30,45,1);
}

.timeline-button-active::after {
	content: " ";
	display: block;
	position: absolute;
	top: -3px;
	left: -3px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0.5) transparent rgba(255,255,255,0.5) transparent;
	animation: ring-effect 1.2s linear infinite;
}

@keyframes ring-effect {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.timeline-button-1 {
	left: 200px;
	top: 0px;
	transform: translate(-50%, -50%) rotate(-90deg);
	cursor: not-allowed;
}

.timeline-button-2 {
	left: 300px;
	top: 27px;
	transform: translate(-50%, -50%) rotate(-60deg);
	cursor: not-allowed;
}

.timeline-button-3 {
	left: 373px;
	top: 100px;
	transform: translate(-50%, -50%) rotate(-30deg);
}

.timeline-button-4 {
	left: 400px;
	top: 200px;
	transform: translate(-50%, -50%) rotate(0deg);
}

.timeline-button-5 {
	left: 373px;
	top: 300px;
	transform: translate(-50%, -50%) rotate(30deg);
}

.timeline-button-6 {
	left: 300px;
	top: 373px;
	transform: translate(-50%, -50%) rotate(60deg);
	cursor: not-allowed;
}

.timeline-button-7 {
	left: 200px;
	top: 400px;
	transform: translate(-50%, -50%) rotate(90deg);
	cursor: not-allowed;
}

/* Home Section - Event Description Overlay (right side) */
#description {
	right: -35vw;
	top: 20px;
	width: 24vw;
	min-width: 225px;
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.18);
	border-radius: 6px;
	z-index: 8;
	padding: 2em;
}

#description h3 {
	font-size: 1.7em;
}

#description p {
	max-height: 68vh;
	padding-right: 1.5em;
	margin-top: 1em;
	margin-bottom: 2em;
	overflow: auto;
}

#description-enter {
	height: 2.7em;
	line-height: 2.7em;
	text-align: center;
	width: 100%;
	border-radius: 4px;
	letter-spacing: 0.05em;
	background-color: rgba(91,153,90,1);
	font-size: 18px;
	color: white;
	border: none;
	transition: background-color ease 0.5s;
}

#description-enter:hover {
	background-color: rgba(91,153,90,0.8);
}

.main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#main-gold-rush {
	background-image: url("../images/maps/gold-rush.jpg");
	background-position: 100% 100%;
	transition: all ease 1s;
	transition-delay: 0.1s;
}

#main-ww1 {
	background-image: url("../images/maps/ww1-lowres.jpg");
	background-position: 100% 100%;
	transition: all ease 1s;
	transition-delay: 0.1s;
}

#main-ww2 {
	background-image: url("../images/maps/ww2.jpg");
	background-position: 100% 100%;
	transition: all ease 1s;
	transition-delay: 0.1s;
}

/* ------------------------------------------------ */
/*				   EVENT SECTION					*/
/* ------------------------------------------------ */

/* Event Section/Challenge Section - Top Navigation Bar */
.event {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	width: 100%;
}

.event-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 3em;
	height: 8vh;
}

#event-nav-back {
	opacity: 0;
	width: 0;
	transition: all ease 1s;
	overflow-x: hidden;
}

#event-nav-back:hover {
	opacity: 0.6;
}

.event-nav img {
	margin-top: 0.5em;
	width: 50px;
}

.event-nav header {
	flex-grow: 2;
	margin-left: 2em;
}

.event-nav h2 {
	margin-top: 0.3em;
	font-size: 2em;
}

.event-nav p {
	margin-top: 0.3em;
}

#event-nav-close {
	margin-right: 0;
	opacity: 1;
	transition: margin-right ease 1s, opacity ease 0.3s;
}

#event-nav-close:hover {
	opacity: 0.7;
}

#event-nav-story {
	height: 55px;
	width: 10em;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	border-radius: 5px 0 0 5px;
	color: black;
	border: none;
	background-color: rgba(240,240,240,1);
	transition: all ease 0.5s;
	z-index: 2;
}

#event-nav-story:hover, #event-nav-trophy:hover {
	background-color: rgba(220,220,220,1);
	color: black;
}

#progress-bar p {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

.progress-bar-container {
	padding: 0.01em 16px;
}

.progress-bar-background {
	color: black;
	background-color: rgba(200,200,200,1);
}

.progress-bar-color {
	width: 0%; /* progress */
	color: white;
	background-color: #4CAF50;
	height: 6px;
}

#event-nav-trophy {
	height: 55px;
	width: 65px;
	border-radius: 0 5px 5px 0;
	border: none;
	background-color: rgba(240,240,240,1);
	margin-right: 4em;
	transition: all ease 0.5s;
}

#event-nav-trophy img {
	width: 38px;
}


/* Event Section - Story View */
#story {
	height: 0;
	overflow: hidden;
	background-color: black;
	color: #EEEEEE;
	transition: all ease 0.5s;
	display: flex;
	align-items: center;
}

#story h3 {
	margin: 0 1.5em 0 3.6em;
	font-size: 1.4em;
	line-height: 1.4em;
}

.story-thumbnail {
	background: black;
	margin-right: 1em;
	border: none;
	opacity: 1;
	transition: all ease 0.5s;
}

.story-thumbnail:hover {
	opacity: 0.6;
}

.story-thumbnail img {
	height: 80px;
	width: 100px;
	border-radius: 3px;
}

/* Event Section - Map View */
#map-data {
	flex-grow: 1;
}

#map-data button {
	transition: all ease 0.5s;
}

.map-button {
	float: right;
	display: flex;
}

.map-button button {
	height: 2.7em;
	width: 10em;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	border-radius: 4px;
	color: white;
	border: none;
	margin-right: 1em;
	
	opacity: 1;
	top: 10px;
	position: relative;
	z-index: 1001;
}

.map-button-leaderboard {
	background-color: rgba(91,153,90,0.9);
}

.map-button-leaderboard:hover {
	background-color: rgba(91,153,90,0.6);
}

.map-button-random {
	background-color: rgba(0,139,139,0.9);
}

.map-button-random:hover {
	background-color: rgba(0,139,139,0.6);
}

/* Event Section - Map View - Map Pin Popup */
.map-popup {
	max-width: 150px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.map-popup-title {
	text-align: center;
}

.map-popup-image {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	opacity: 0.5;
	margin: 0.5em 0;
}

.map-popup-image.map-popup-visited {
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}

.map-popup-question {
	display: block;
	position: absolute;
	font-size: 3em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(100,100,100,1);
}

.map-popup-question.map-popup-visited {
	display: none;
}

.map-popup-button {
	font-size: 1.2em;
}

#map-popup-overlay {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 1001;
	cursor: pointer;
	color: white;
}

#map-popup-overlay img {
	margin-top: 1em;
	max-width: 80%;
	max-height: 75%;
}

#map-popup-overlay h3 {
	font-size: 1.2em;
	margin-top: 0.8em;
	max-width: 80%;
	text-align: center;
}

#map-popup-overlay p:nth-last-child(2) {
	font-size: 0.9em;
	margin-top: 0.5em;
	max-width: 70%;
	text-align: center;
}

#map-popup-overlay p:last-child {
	font-size: 0.9em;
	color: #555555;
	margin-top: 0.5em;
}

#story-popup-overlay {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.9);
	z-index: 1003;
	cursor: pointer;
	color: white;
}

#story-popup-overlay > article {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	max-width: 90%;
	max-height: 90%;
}

#story-popup-overlay h3 {
	font-size: 2em;
	margin-bottom: 2em;
}

#story-popup-overlay section {
	display: flex;
}

.story-popup-overlay-image {
	width: 50%;
}

.story-popup-overlay-text {
	display: flex;
	flex-flow: column wrap;
	max-width: 40%;
	margin-left: 2em;
}

.story-popup-overlay-story {
	line-height: 1.5em;
}

.story-popup-overlay-description {
	margin-top: 2em;
}

.story-popup-overlay-text p:last-child {
	margin-top: 3em;
	font-size: 0.95em;
	color: #555555;
}

#trophy-popup-overlay {
	position: fixed;
	width: 350px;
	height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.18);
	z-index: 1002;
	display: none;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	/* background: 
		linear-gradient(135deg, rgba(238,238,238,0.8) 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, rgba(238,238,238,0.8) 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, rgba(238,238,238,0.8) 25%, transparent 25%),
		linear-gradient(45deg, rgba(238,238,238,0.8) 25%, transparent 25%);	
	background-size: 2em 2em;
	background-color: rgba(255,255,255,0.95); */

	background: url("../images/patterns/cbimage.jpg") repeat 0 0;
	-webkit-animation: bg-scrolling 2.5s infinite;
	animation: bg-scrolling 2.5s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling {
  100% { background-position: 50px 50px; }
}

@keyframes bg-scrolling {
  100% { background-position: 50px 50px; }
}

#trophy-popup-overlay button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
}

#trophy-popup-overlay-close {
	opacity: 1;
	max-width: 50px;
	transition: opacity ease 0.3s;
}

#trophy-popup-overlay-close:hover {
	opacity: 0.7;
}

.trophy-popup-image {
	width: 300px;
}

#trophy-popup-overlay h3 {
	font-size: 1.5em;
	font-family: 'Poiret One', cursive;
}

#leaderboard-popup-overlay {
	display: none;
	position: fixed;
	width: 450px;
	height: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.18);
	z-index: 1002;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	
	background-color: rgba(0,0,0,0.8);
	color: #EEEEEE;
	border: 2px solid #EEEEEE;
}

#leaderboard-popup-overlay button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
	filter: invert(100%);
}

#leaderboard-popup-overlay h3 {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 1.5em;
}

#leaderboard-popup-overlay table {
	text-align: left;
	table-layout: auto;
	width: 90%;
	margin-left: 10%;
}

#leaderboard-popup-overlay th {
	padding-bottom: 0.8em;
}

#story a{
	color: rgba(0,139,139,1);
}


/* ------------------------------------------------ */
/*				 CHALLENGE SECTION					*/
/* ------------------------------------------------ */

/* Challenge Section - Game Canvas */
.game-canvas {
	display: none;
	flex-grow: 1;
	z-index: 2;
}

/* Challenge Section - Game Canvas - Drop Zone (left panel) */
.drop-zone {
	position: relative;
	width: 70%;
	border: 3px solid rgba(115,24,44,1);
}

.drop-zone-background {
	width: 100%;
	height: 100%;
	background: white;
	/* background-repeat: no-repeat;
	background-position: center; */
	opacity: 0.2;
	transition: opacity ease 1s;
}

.drop-zone-info {
	display: block;
	position: relative;
	width: 50%;
	height: 50%;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 3;
}

.drop-zone-info h3 {
	font-size: 2em;
	padding-bottom: 1em;
}

.drop-zone-puzzles {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.drop-zone-paused {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	color: #EEEEEE;
	z-index: 9;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.drop-zone-paused h3 {
	font-size: 2em;
	margin-bottom: 1em;
}

.drop-zone-paused p {
	letter-spacing: 0.08em;
}

.game {
	z-index: 3;
	width: 100%;
	height: 100%;
}

.drop-zone-description {
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	text-align: center;
	z-index: 3;
	background-color: rgba(255,255,255,0.5);
}

.drop-zone-description h3 {
	font-size: 1em;
	padding-top: 0.2em;
}

.drop-zone-description p {
	font-size: 0.9em;
	padding-bottom: 0.2em;
}

/* Challenge Section - Game Canvas - Info Zone (right panel) */
.info-zone {
	padding: 2em;
	width: 30%;
	background-color: rgba(240,240,240,1);
	display: flex;
	flex-flow: column nowrap;
}

.info-zone-timer {
	font-size: 5em;
	font-family: 'Play', sans-serif;
	margin: 0.3em 0;
}

.info-zone-button {
	display: flex;
	margin: 2em 0;
}

.info-zone-button button {
	height: 2.7em;
	font-size: 1.2em;
	color: white;
	letter-spacing: 0.05em;
	border-radius: 4px;
	border: 2px solid white;
}

#game-start {
	flex-grow: 2;
	background-color: rgba(91,153,90,1);
	transition: all ease 0.5s;
}

#game-start:hover {
	background-color: rgba(91,153,90,0.8);
}

#game-restart {
	background-color: rgba(115,24,44,1);
	transition: all ease 0.5s;
	display: flex;
}

#game-restart:hover {
	background-color: rgba(115,24,44,0.8);
}

#game-restart img {
	width: 30px;
}

#game-give-up {
	background-color: rgba(40,40,40,1);
	transition: all ease 0.5s;
	display: flex;
}

#game-give-up:hover {
	background-color: rgba(40,40,40,0.8);
}

#game-give-up img {
	width: 25px;
}

.info-zone-result {
	display: none;
}

.info-zone-result h3 {
	font-size: 1.2em;
	margin-top: 1.2em;
	color: rgba(115,24,44,1);
}

.info-zone-result input[type="text"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid white;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1em;
}

.info-zone-result input[type="text"].error {
	border: 2px solid rgba(255,0,55,1);
}

.info-zone-result-button {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 2em;
}

.info-zone-result input[type="submit"] {
	color: white;
	height: 3em;
	padding: 0 2em;
	border: 2px solid white;
	font-size: 1em;
	border-radius: 4px;
}

#info-zone-result-button-submit {
	background-color: rgba(91,153,90,1);
}

#info-zone-result-button-ignore {
	background-color: rgba(115,24,44,1);
}

.info-zone-result2 {
	display: none;
}

.info-zone-result2 h3 {
	font-size: 1.2em;
	margin: 1.2em 0;
	color: rgba(115,24,44,1);
}

.info-zone-hi-score h3 {
	margin-bottom: 1em;
	font-size: 1.2em;
}

.info-zone-hi-score table {
	text-align: left;
	table-layout: auto;
	width: 100%;
}

/* ------------------------------------------------ */
/*				 	  TOOLTIPS						*/
/* ------------------------------------------------ */
.ui-helper-hidden { /* jquery-ui.css */
	display: none;
}

.ui-helper-hidden-accessible { /* jquery-ui.css */
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-tooltip { /* jquery-ui.css */
	font-size: 0.8em;
	padding: 0.2em 0.7em;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: rgba(0,0,0,0.7);
	color: white;
	border: unset;
	box-shadow: unset;
	border-radius: 6px;
	border-color: black;
}

body .ui-tooltip { /* jquery-ui.css */
	border-width: 0px;
}
